.btn-generic[b-srrs593ocm] {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding: 3px 10px 3px 10px;
    /*min-width: 150px;*/
    justify-content: space-around;
}

.btn-generic > span[b-srrs593ocm] {
    font-weight: 600;
}

.btn-generic > i[b-srrs593ocm] {
    font-weight: 600;
}

.btn-generic:hover[b-srrs593ocm] {
    color: #fff;
}
