.notifications-wrapper[b-xy8fymmlnw]
{
    position: fixed;
    width: 300px;
    height: auto;
    z-index: 999;
}

.notification-container[b-xy8fymmlnw]
{
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 10px;
}

.notification-title[b-xy8fymmlnw] 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 0 5px;
}

.notification-close[b-xy8fymmlnw]
{
    color: white;
    font-size: 1.5rem;
}

.notification-close:hover[b-xy8fymmlnw]{
    cursor: pointer;
}

.notification-body[b-xy8fymmlnw]
{
    padding: 5px;
    font-size: 1rem;
}


.fail[b-xy8fymmlnw] {
    background-color: #fa5555;
}

.success[b-xy8fymmlnw] {
    background-color: #3bc469;
}

.standard[b-xy8fymmlnw] {
    background-color: #1b6ec2;
}

.warning[b-xy8fymmlnw] {
    background-color: #ffcc00;
    color: black;
}

.warning .notification-close[b-xy8fymmlnw]{
    color: red;
}

.top-right[b-xy8fymmlnw] {
    top: 0px;
    right: 0px;
}

.bottom-right[b-xy8fymmlnw]{
    bottom: 0px;
    right: 0px;
}

.top-left[b-xy8fymmlnw]{
    top: 0;
    left: 0;
}

.bottom-left[b-xy8fymmlnw]{
    bottom: 0;
    left: 0;
}