.search-container[b-g8jcqlfhnt]
{
    width: 50%;
    padding: 10px 0px;
    display: flex;
    justify-content: end;
}

.search-container > input[b-g8jcqlfhnt]{
    width: 40%;
    min-height: 30%;
}

.input-page-number[b-g8jcqlfhnt]{
    width: 30px;
    text-align:center;
}

.page-control-container > span:hover[b-g8jcqlfhnt]{
    cursor: pointer;
}

.page-control-container > input[b-g8jcqlfhnt]{
    border:none;
    background-color: transparent;
}

.page-control-container[b-g8jcqlfhnt]{
    width: 50%;
    align-items: center;
    justify-content: end;
}

.items-on-page-container[b-g8jcqlfhnt]{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.items-on-page-container > span[b-g8jcqlfhnt]{
    margin-right: 5px;
}

.items-on-page-container > select[b-g8jcqlfhnt]{
    border: none;
    background-color: transparent;
    font-weight: 700;
}

.header-container[b-g8jcqlfhnt]{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 48.5px;
}

.table-footer-info[b-g8jcqlfhnt]{
    width: 50%;
}