.info-container[b-s2jjmfibzy] {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fcba03;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container > span[b-s2jjmfibzy]{
    color: white;
}